An e-commerce company, Store 1, recently started collecting data about its customers. The ultimate goal of Store 1 is to better understand customer behavior and make data-driven decisions to enhance their online experience.

As part of the analytics team, your first task is to assess the quality of a sample of collected data and prepare it for future analysis.

# Questionnaire 
Store 1 aims to ensure consistency in data collection. As part of this initiative, the quality of the collected user data must be evaluated. You have been asked to review the collected data and propose changes. Below, you will find data about a particular user; review the data and identify any potential issues.

In [1]:
user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

**Options:**

1. The data type for `user_id` should be changed from a string to an integer.

2. The variable `user_name` contains a string with unnecessary spaces and an underscore between the first and last name.

3. The data type of `user_age` is incorrect.

4. The list `fav_categories` contains strings in uppercase. Instead, we should convert the values in the list to lowercase.

Write in the Markdown cell below the numbers of the options you have identified as issues. If you have identified multiple issues, separate them with commas. For example, if you think numbers 1 and 3 are incorrect, write **1, 3**.

**Write your response and explain your reasoning:**

In my opinion, I identified the issues related to:

- **Number 2:** The variable `user_name` has leading and trailing spaces in the name. This could cause problems when searching for or alphabetically sorting users.

- **Number 3:** The format is correct (a decimal number), but it could be simplified if the age is always recorded as an integer.

- **Number 4:** The list `fav_categories` is in uppercase, which is a good practice for maintaining consistency. However, "SPORT" could be made more specific (e.g., "RUNNING," "SOCCER").  
That said, if we follow the project instructions, the strings in the list should be converted to lowercase.

# Exercise 1
Let's implement the changes we identified. First, we need to fix the issues with the user_name variable. As we saw, it has unnecessary spaces and an underscore as a separator between the first and last name. Your goal is to remove the spaces and then replace the underscore with a space.

In [1]:
user_name = ' mike_reed '
user_name = user_name.strip() # eliminar los espacios en la cadena original
user_name = user_name.replace('_',' ')# reemplazar el guion bajo con el espacio

print(user_name)

mike reed

# Exercise 2
Next, we need to split the updated user_name into two substrings to get a list containing two values: one for the first name and one for the last name.

In [3]:
user_name = 'mike reed'
name_split = user_name.split()# divide aquí el string user_name

print(name_split)

['mike', 'reed']

# Exercise 3
Great! Now we need to work on the user_age variable. As mentioned, it has an incorrect data type. Let's fix this issue by converting the data type and displaying the final result.

In [4]:
user_age = 32.0
user_age = int(user_age)# cambia el tipo de datos para la edad de un usuario o usuaria

print(user_age)
print(type(user_age))

32
<class 'int'>

# Exercise 4
As we know, data is not always perfect. We need to consider scenarios where the value of user_age cannot be converted into an integer. To prevent our system from crashing, we need to take precautions.

Write code that attempts to convert the user_age variable into an integer and assigns the transformed value to user_age_int. If the attempt fails, display a message asking the user to provide their age as a numerical value with the message:
Please provide your age as a numerical value.

In [5]:
user_age = 'treinta y dos' # aquí está la variable que almacena la edad como un string.

try:
    user_age_int = user_age(int(user_age))
    print(user_age_int)
except:
    print('Please provide your age as a numerical value')

Please provide your age as a numerical value

# Exercise 5
Finally, consider that all favorite categories are stored in uppercase. To populate a new list called fav_categories_low with the same categories but in lowercase, iterate over the values in the fav_categories list, modify them, and add the new values to the fav_categories_low list. As always, display the final result.

In [6]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = []

for category in fav_categories:
    fav_categories_low.append(category.lower()) # escribe tu código aquí

# no elimines la siguiente declaración print
print(fav_categories_low)

['electronics', 'sport', 'books']

# Exercise 6
We have obtained additional information about the spending habits of our users, including the amount spent in each of their favorite categories. Management is interested in the following metrics:

Total amount spent by the user.
Minimum amount spent.
Maximum amount spent.
Let's calculate these values and display them on the screen:

In [7]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amount = sum(spendings_per_category)# escribe tu código aquí
max_amount = max(spendings_per_category) # escribe tu código aquí
min_amount = min(spendings_per_category) # escribe tu código aquí

# no elimines la siguiente declaración print
print(total_amount)
print(max_amount)
print(min_amount)

1280
894
173

# Exercise 7
The company wants to offer discounts to loyal customers. Customers who make purchases totaling more than $1500 are considered loyal and will receive a discount.

Our goal is to create a while loop that checks the total amount spent and stops when the target amount is reached. To simulate new purchases, the variable new_purchase generates a number between 30 and 80 in each iteration of the loop. This represents the money spent on a new purchase and should be added to the total.

Once the target amount is reached and the while loop ends, display the final total amount.

In [8]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent < target_amount:
    new_purchase = randint(30, 80)
    total_amount_spent += new_purchase
    print(f'Total de las compras: {total_amount_spent}')    

print(total_amount_spent)

Total de las compras: 1326
Total de las compras: 1384
Total de las compras: 1446
Total de las compras: 1487
Total de las compras: 1539
1539

# Exercise 8
Now we have all the information about a customer in the desired format. The company management has asked us to propose a way to summarize all the information about a user. Your goal is to create a formatted string that uses information from the variables user_id, user_name, and user_age.

This is the final string we want to create:
User 32415 is Mike who is 32 years old.

In [9]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32

# Une los elementos de user_name con un espacio entre ellos
user_name_str = " ".join(user_name)

# Crea la cadena formateada con el nombre completo
user_info = f"User {user_id} is {user_name_str} who is {user_age} years old"

# no elimines la siguiente declaración print
print(user_info)

User 32415 is mike reed who is 32 years old

As you know, companies collect and store data in a particular way. Store 1 wants to store all information about its customers in a table.

| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

Technically, a table is simply a nested list containing a sublist for each customer.

Store 1 has created such a table for its customers. It is stored in the variable users. Each sublist contains the user's ID, first and last name, age, favorite categories, and the amount spent in each category.

# Exercise 9
To calculate the company's revenue, follow these steps:

Use a for loop to iterate over the users list.
Extract the spending list for each customer and sum up the values.
Update the revenue total with each customer's total spending.
This will give you the company's total revenue, which you will display on the screen at the end.

In [10]:
users = [
	  # este es el inicio de la primera sublista
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
        [894, 213, 173]
    ], # este es el final de la primera sublista

    # este es el inicio de la segunda sublista
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'shoes'],
        [439, 390]
    ] # este es el final de la segunda sublista
]

revenue = 0

for user in users:
	spendings_list = user[4]# extrae la lista de gastos de cada usuario o usuaria y suma los valores
	total_spendings = sum(spendings_list)# suma los gastos de todas las categorías para obtener el total de un usuario o una usuaria en particular
	revenue += total_spendings# actualiza los ingresos

# no elimines la siguiente declaración print
print(revenue)

2109

# Exercise 10
Iterate through the list of users provided and display the names of customers under 30 years old.

In [11]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

clients_names_under_30 = [
    " ".join(user[1]) for user in users if user[2] < 30
]

for name in clients_names_under_30:
    print(name)

kate morgan
samantha smith
emily brown
jose martinez
james lee

# Exercise 11
Combine tasks 9 and 10 to print the names of users under 30 years old with a total spending exceeding $1000.

In [12]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]
 
for user in users:
  if user[2] < 30:
    total_spent = sum(user[4])
    if total_spent > 1000:
      full_name = " ".join(user[1])
      print(full_name)

samantha smith
james lee

# Exercise 12
Now let's display the name and age of all users who have purchased clothing. Print the name and age in the same print statement.

In [13]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]],
]

for user in users:
    if 'clothes' in user[3]:
        first_name = user[1][0]
        last_name = user[1][1]
        age = user[2]
        print(f"{first_name} {last_name}, {age} años")

kate morgan, 24 años
samantha smith, 29 años
maria garcia, 33 años
lisa wilson, 35 años
james lee, 28 años

## Write any final comments or reflections here:
Store 1 has taken the first steps in collecting data about its customers. However, there is significant room for improvement in terms of data quality and analysis. By addressing these aspects, the company will be better positioned to understand its customers and make informed decisions that drive growth.